@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-200
    }
}

@layer components {
    .bar {
        @apply w-full py-0.5 bg-yellow-400 inline-block relative
    }
    .bar::before {
        content: "";
        position: absolute;
        top: -7px;
        @apply w-full py-0.5 bg-yellow-400 inline-block
    }
    .bar::after {
        content: "";
        position: absolute;
        top: 7px;
        @apply w-full py-0.5 bg-yellow-400 inline-block
    }

    .navlink {
        @apply p-0.5 inline-block mx-1 my-1 border-2 border-white
    }

    .adcard {
        @apply col-span-full md:col-span-6 lg:col-span-4 bg-green-300
    }
    .form-input {
        @apply bg-purple-200 rounded-sm py-0.5 px-1 w-11/12 max-w-xl
    }
    .form-input:focus {
        @apply bg-purple-100 outline-none ring ring-purple-700
    }
    .main-btn {
        @apply p-0.5 bg-green-400 rounded-sm outline-none mt-6
    }
    .main-btn:active {
        @apply transform ring ring-green-700 scale-90
    }
    .main-btn:hover {
        @apply bg-green-300
    }
    .form {
       @apply text-center bg-gray-400 shadow-lg p-2 m-8 rounded-xl text-xl
    }
    .labels {
        @apply block
    }
    .input-wrapper {
        @apply my-3
    }
    .nav-search {
       @apply outline-none bg-white rounded-sm py-0.5 px-1 inline-block text-gray-900
    }
    .nav-search:focus {
        @apply transform ring ring-1 scale-110 ring-gray-500
    }
}
