@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bar {
        @apply w-full py-0.5 bg-yellow-400 inline-block relative
    }
    .bar::before {
        content: "";
        position: absolute;
        top: -7px;
        @apply w-full py-0.5 bg-yellow-400 inline-block
    }
    .bar::after {
        content: "";
        position: absolute;
        top: 7px;
        @apply w-full py-0.5 bg-yellow-400 inline-block
    }

    .test {
        @apply p-0.5 inline-block mx-1 border-2 border-white
    }
}
